<div *ngIf="product.title && product.description" class="card">
  <a [routerLink]="['/product-details/', product.key]">
    <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="{{product.title}}">
  </a>
  <div class="card-body">
    <h5 class="card-title">{{ 'product' | translate: {value: product.title} }}</h5>
    <h6 class="card-description">{{ 'product' | translate: {value: product.description} }}</h6>
    <p class="card-text">{{ product.price | currency: 'USD':code }}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button
    *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
    (click)="addToCart()"
    class="btn btn-info btn-block">Add to Cart</button>
    <ng-template #updateQuantity>
        <product-quantity [product]="product" [shopping-cart]="shoppingCart">
        </product-quantity>
    </ng-template>
  </div>
</div>
