
<a href="/#">
  <img id="imageresource" *ngIf="product?.imageUrl && product.title && product.description" [src]="product.imageUrl" alt="{{product?.title}}" style="width: 800px; height: 800px;">
  Go Back
</a>
<div class="card-body">
  <h5 class="card-title">Product: {{ product?.title }}</h5>
  <h6 class="card-description">Description: {{ product?.description }}</h6>
  <p class="card-text">Price: {{ product?.price | currency: 'USD' }}</p>
</div>
