<div class="grid-container">
    <div class="grid-child">
        <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
            <div class="text-center">
                <img [src]="imageSrc" width="550px" height="350px" (click)="fileUploader.click()">
            </div>
            <div class="form-group">
                <label>Select file to upload</label>
                <input type="file" class="form-control" #fileUploader formControlName="imageUrl" (change)="showPreview($event)">
                <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is required</div>
            </div>
            <div class="form-group">
                <input class="form-control" formControlName="caption" placeholder="Caption">
                <div class="text-danger" *ngIf="isSubmitted && formControls.caption.errors?.required">This field is required</div>
            </div>
            <div class="form-group">
                <select formControlName="category" class="form-control">
                    <option value="Bath robes" selected>Bath robes</option>
                    <option value="Beddings">Beddings</option>
                    <option value="Hotel Cosmetics">Hotel Cosmetics</option>
                    <option value="Slippers">Slippers</option>
                    <option value="Towels">Towels</option>
                    <option value="Uniforms">Uniforms</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="text-danger" *ngIf="isSubmitted && formControls.category.errors?.required">This field is required</div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-info btn-block float-right">Submit</button>
                </div>
                <div class="form-group col-md-6">
                    <a routerLink="/admin/images/gallery" class="btn btn-info btn-block float-right">Go to Gallery</a>
                </div>
            </div>
        </form>
    </div>
</div>

