<h1>{{'welcome' | translate}}</h1>

<div class="about">
    <p>
        {{'p1' | translate }}
    </p>
    <br>
    <p>
        {{'p2' | translate }}
    </p>
    <br>
    <p>
        {{'p3' | translate }}
    </p>
    <br>
    <p>
        {{'p4' | translate }}
    </p>
    <br>  
    <p>
        {{'p5' | translate }}
    </p>
    <br>      
    <p>
        {{'p6' | translate }} 
    </p>
    <p>
        {{'p7' | translate }}
    </p>
    <p>
        {{'p8' | translate }}
    </p>
    <img src="/assets/img/V-logo.png" width="300px" height="150px">
</div>
