table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 20px;
    width: 50%;
    padding: 30px;
  }
.mat-header-cell {
  text-align: center;
}
  
td, th {
    width: 25%;
    text-align: center;
  }
