
<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<br>

<!-- new table option -->
<mat-form-field appearance="outline">
    <!-- Filter -->
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter products" #input>
</mat-form-field>
<br>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" (reload)="reloadItems($event)" matSort>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let item"> <img [src]="item.imageUrl" style="width:200px; height:auto;" alt=""> </td>
        </ng-container>
        
        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let item"> {{ item.title }} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let item"> {{ item.description }} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let item"> {{ item.price | currency: 'USD':code }} </td>
        </ng-container>
        
        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let item"> 
                <a [routerLink]="['/admin/products/', item.key]">Edit</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let item; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
        </tr>
    </table>

</div>
<mat-paginator 
[length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

    