<h1>{{ 'contactUs' | translate }}</h1>
<p>{{ 'country' | translate }}</p>
<p>{{ 'address' | translate }}</p>
<p>{{ 'city' | translate }}</p>
<p>{{ 'region' | translate }}</p>
<p>{{ 'phone' | translate }}</p>
<p>{{'email' | translate }} <a href="mailto:office@vecanski.co.rs">office@vecanski.co.rs</a></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2808.8696020604784!2d19.876321914941784!3d45.25042955570397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b1a84eb46d77b%3A0x1d544d70e2e3e0c3!2sVe%C4%8Danski%20d.o.o.!5e0!3m2!1sen!2srs!4v1609175048285!5m2!1sen!2srs" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>