<h1>Shopping Cart</h1>
<div class="row col-12" *ngIf="cart$ | async as cart">
    <div class="card-body">
        <p>
            You have {{ cart.totalItemsCount }} items in your shopping cart.
            <button *ngIf="cart.items.length" (click)="clearCart()" class="float-right btn btn-info btn-sm">Clear Shopping Cart</button>
        </p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-center" style="width: 300px">Quantity</th>
                <th class="text-right" style="width: 200px">Price per quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let item of cart.items">
                <td>
                    <img [src]="item.imageUrl" class="thumbnail" alt="">
                </td>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
                </td>
                <td class="text-right">
                    {{ item.totalPrice | currency: 'USD':symbol }}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total Price:</th>
                <th></th>
                <th></th>
                <th class="text-right">{{ cart.totalPrice | currency: 'USD':symbol }}</th>
            </tr>
        </tfoot>
    </table>
    <div class="card-body">
        <a *ngIf="cart.items.length" routerLink="/check-out" class="float-right btn btn-info">Check Out</a>
    </div>
</div>