.home {
    background-image: url(/../assets/img/Home.jpg);
    height: 100%;
    background-attachment: fixed;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }