<div class="sticky-top">
    <div class="list-group">
        <a
            class="list-group-item list-group-item-action"
            [class.active]="!category"
            routerLink="/"
            >All Categories</a>
        <a 
            class="list-group-item list-group-item-action"
            routerLink="/"
            *ngFor="let c of categories$ | async" 
            [queryParams]="{ category: c.key }" 
            [class.active]="category === c.key">
            {{ c.name }}</a>
    </div>
</div>
