<div class="grid-child">
    <table class="mainbox" *ngIf="imageList">
        <tr *ngFor="let i of rowIndexArray">
            <td *ngIf="imageList[3*i]">
                <div class="imagebox">
                    <img [src]="imageList[3*i].imageUrl" class="imagebox-img">
                    <span class="caption">{{imageList[3*i].caption}}</span>
                </div>
            </td>
            <td *ngIf="imageList[3*i+1]">
                <div class="imagebox">
                    <img [src]="imageList[3*i+1].imageUrl" class="imagebox-img">
                    <span class="caption">{{imageList[3*i+1].caption}}</span>
                </div>
            </td>
            <td *ngIf="imageList[3*i+2]">
                <div class="imagebox">
                    <img [src]="imageList[3*i+2].imageUrl" class="imagebox-img">
                    <span class="caption">{{imageList[3*i+2].caption}}</span>
                </div>
            </td>
        </tr>
    </table>
</div>
