<div class="row no-gutters">
  <div class="col-2">
    <button 
    (click)="removeFromCart10()"
    class="btn btn-info btn-block">-10</button>
  </div>
    <div class="col-2">
      <button 
      (click)="removeFromCart()"
      class="btn btn-info btn-block">-</button>
    </div>
    <div class="col text-center quantity">
      {{ shoppingCart.getQuantity(product) }} in cart
    </div>
    <div class="col-2">
      <button 
      (click)="addToCart()"
      class="btn btn-info btn-block">+</button>
    </div>
    <div class="col-2">
      <button 
      (click)="addToCart10()"
      class="btn btn-info btn-block">+10</button>
    </div>
</div>
