
<div class="container">
  <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #03bac0; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Success</h1> 
        <p>We received your purchase request for: </p>
          <br>
          <div class="userData">
              <ul *ngFor="let o of order$ | async">
                <li>Name: {{o.shipping.name}}</li>
                <li>Phone: {{o.shipping.phone}}</li>
                <li>Address: {{o.shipping.address}}</li>
                <li>City: {{o.shipping.city}}</li>
                <li>Email: {{o.shipping.email}}</li>
                <li>Date: {{o.datePlaced | date}}</li>
              </ul>
              <p>For products:</p>
              <ul *ngFor="let i of items$ |async">
                <li>
                  {{i.title}} x {{i.quantity}}
                  <div class="float-right">
                    {{ i.price | currency: 'USD' }}
                  </div>
                </li>
                <li class="list-group-item font-weight-bold">
                  Total:
                  <div class="float-right">
                    {{ i.totalPrice | currency: 'USD' }}
                  </div>
                </li>
              </ul>
          </div>
          <br>
        <p>we'll be in touch shortly!</p>
  </div>
</div>

