
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand"routerLink="/home">
          <fa-icon [icon]="faHome"></fa-icon>
      </a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" 
      data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault" [(ngbCollapse)]="isCollapsed">
        <ul class="navbar-nav mr-auto nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" routerLink="/about-us">
              {{ 'aboutUs' | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" routerLink="/">
              {{ 'products' | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" routerLink="/gallery">
              {{ 'gallery' | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" routerLink="/contact-us">
              {{ 'contact' | translate }}
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart">
              <fa-icon [icon]="faShoppingCart"></fa-icon>
              <span class="badge badge-info badge-pill" *ngIf="cart$ | async as cart">
                {{ cart.totalItemsCount }}
              </span>
            </a>
          </li>
          <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
          </ng-template>
          
          <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ appUser.name }}
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a ngbDropdownItem class="dropdown-item" routerLink="/my/orders">{{ 'myOrders' | translate }}</a>
              <ng-container *ngIf="appUser.isAdmin">
                <a ngbDropdownItem class="dropdown-item" routerLink="/admin/orders">{{ 'manageOrders' | translate }}</a>
                <a ngbDropdownItem class="dropdown-item" routerLink="/admin/products">{{ 'manageProducts' | translate }}</a>
                <a ngbDropdownItem class="dropdown-item" routerLink="/admin/images/upload">{{ 'manageImages' | translate}}</a>
              </ng-container>
              <a ngbDropdownItem class="dropdown-item" (click)="logout()">Log Out</a>
            </div>
          </li>
          <li>
            <app-language></app-language>
          </li>
        </ul>
      </div>
    </div>
  </nav>
