<form #f="ngForm">
    <div class="form-group">
        <label for="">Name and Last name</label>
        <input #name="ngModel" [(ngModel)]="shipping.name" name="name" type="text" class="form-control" placeholder="John Doe" required>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            <div *ngIf="name.errors.required">
                Name and Last name is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="">Phone number</label>
        <input #phone="ngModel" [(ngModel)]='shipping.phone' name="phone" type="text" class="form-control" placeholder="+381 11 1111111" required>
        <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
            <div *ngIf="phone.errors.required">
                Phone number is required.
            </div>
        </div>
    </div>  
    <div class="form-group">
        <label for="">Address</label>
        <input #address="ngModel" [(ngModel)]='shipping.address' name="address" type="text" class="form-control" placeholder="Blue street 56" required>
        <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
            <div *ngIf="address.errors.required">
                Address is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="">City</label>
        <input #city="ngModel" [(ngModel)]="shipping.city" name="city" type="text" class="form-control" placeholder="New York" required>
        <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
            <div *ngIf="city.errors.required">
                City is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="">E-mail</label>
        <input #email="ngModel" [(ngModel)]="shipping.email" name="email" type="text" class="form-control" placeholder="example@example.com" required>
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
            <div *ngIf="email.errors.required">
                E-mail is required.
            </div>
        </div>
    </div>
    <button [disabled]="!f.valid" (click)="placeOrder()" class="btn btn-primary">Place Order</button>
</form>
