/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "font-awesome/css/font-awesome.css";


body { 
    padding-top: 80px; 
    background-image: url('/../assets/img/Home.jpg');
    height: 55em;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
} 

.navbar { 
    border-bottom: 3px solid #e7e7e7;
}

.navbar-light .navbar-brand {
    color: #17a2b8 !important;
}

.list-group-item.active {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.navbar-light .navbar-nav .nav-link {
    color:  #17a2b8 !important;
}

// Gallery

.mainbox {
    margin: 0;
    padding: 0;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    width: 100%;
    max-width: calc(40ch * 3 + 6rem);
}

.imagebox {
    display: grid;
    overflow: hidden;
    height: 40vh;

  // Purely for visual appeal
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

    grid-template-areas: card;
    place-items: end;
}

.imagebox-img {
    object-fit: fill;
    width: 100%;
    height: 40vh;
  // removes pesky extra default spacing at the bottom of images
    display: block;
}

.imagebox-img,
.caption {
    grid-area: card;
}

.caption {
    margin: 0;
    transform: translateY(100%);

    transition: transform 500ms ease-in;
    will-change: transform;

  // visual styles to let it be more visible over the image
    text-align: right;
    padding: 0.25em 0.5em;
    border-radius: 4px 0 0 0;
    background-color: rgba(#fff, 0.87);
}

.imagebox:hover {
    .caption {
        transform: translateY(0);
    }
}
